<html>
    <head>
        <title>Alfonso´s blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Piiiiiiiichom</a></h1>
        </div>

        <div>
            <p>published: 13.06.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Tengo que dejar de pendejear con el blog y ponerme a hacer la base de datos</p>
        </div>

        <div>
            <p>published: 13.06.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Mejor dicho, tengo que aprender bien esta madre y luego la base :v</p>
        </div>
    </body>
</html>
