<html>
    <head>
        <title>Alfonso´s blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Pendientes</a></h1>
        </div>

        <div>
            <p>published: 13.06.2017, 12:14</p>
            <h2><a href="">Primera tarea</a></h2>
            <p>Levantar el servidor de Beer Science & Control </p>
        </div>

        <div>
            <p>published: 13.06.2017, 12:14</p>
            <h2><a href="">Segunda tarea</a></h2>
            <p>Conectar la trama del arduino con el  :v</p>
        </div>
         <div>
          <h1> POSTS/TUTORIAL QUE SIGO HACIENDO </h1>
        </div>
          {% for post in posts %}
            <div>
              <p> published: {{ post.published_date }} </p>
              <h1><a href=""> {{ post.title }} </p></a></h1>
              <p>{{ post.text|linebreaksbr }} </p>
            </div>
          {% endfor %}

    </body>
</html>
